extends layout

prepend stylesheets
  link(rel='stylesheet',href='/stylesheets/home.css')

block content
  .login
    h1 Register Here
    p.lead
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="name", placeholder='Enter Name')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button", style="margin-left: 30px;") Cancel