extends ../layout

block content
  form(role='form', method="post", style='max-width: 300px;')
    .form-group
      input(type='text', name='title')
    .form-group
      input(type='text', name='text')
    button(type='submit', value='Submit') submit
