extends ../layout

prepend stylesheets
  link(rel='stylesheet',href='/stylesheets/home.css')

block content
  .remove
    form(role='form', method="post", style='max-width: 300px;')
      h3
        strong Do you want to remove
      button.btn.btn-delete(type='submit') Yes

      a(href='/memo')
          button.btn.btn-primary(type="button", style="margin-left: 30px;") Cancel
