body {
  padding: 0px 50px 0px 50px;
  background-color:#e9ebee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p.alignRight {
  text-align: right;
}

a {
  color: #00B7FF;
}

.post{
  padding-top: 15px;
}

.box_1{
  padding:0px 20px 20px 20px;
}

.box{
  border-radius:5px;
  background-color: #fff;
}

.name{
  padding: 10px 0px 10px 0px;
}

.line{
  height: 1px;
  background-color:#e9ebee;
}

.comment{
  display: flex;
  padding: 10px 0px 10px 0px;
  flex-direction: row;
}

.textcommet{
  margin-bottom: 10px;
}

.usercomment{
  width: 96%;
  padding-left: 3px;
}

.usertext{
  padding-top: 5px;
}

.problem{
  padding-left: 45px;
}

.userpost{
  display: flex;
  flex-direction: row;
}

.username{
  width: 95%;
}

.usercommentname{
  width: 100%;
  display: flex;
}

.usercommentname strong{
  width: 93%;
}
